<!--<form method='post' action='/users' accept-charset="UTF-8">
  <label>Username:</label>
  <input type='text' name='user[username]'>
  <label>Email:</label>
  <input type='email' name='user[email]' value = 'E-mail'>
  <label>Password:</label>
  <input type='password' name='user[password]' value = 'Password'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value='Submit'>
</form> -->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> stopped this from being saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.label "Username:" %>
  <%= form.text_field :username, placeholder: "username here" %>
  <%= form.label "Email:" %>
  <%= form.email_field :email, placeholder: "Example@Example.com", :value => "Email" %>
  <%= form.label "Password:" %>
  <%= form.password_field :password, placeholder: "Password" %>
  <%= form.submit "Create" %>
<% end %>
